$white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$primaty-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$footer-bg-color: #2f303a;
$footer-main-color: rgba(255, 255, 255, 0.6);
$footer-bottom-text: rgba(255, 255, 255, 0.4);
$social-color: #afb1b8;
$icon-bg-footer-color: rgba(255, 255, 255, 0.1);
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);
$service-title-bg-color: rgba(47, 48, 58, 0.8);
$background-colo: rgba(0, 0, 0, 0.2);

$main-font: Roboto, sans-serif;
$logo-font: Raleway;
